@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$firstFont: "Inter", sans-serif;

$red: #ff5959;
$green: #52df68;
$white: #ffffff;
$black: #292626;
$grey: #343434;
$light-grey: #969696;
$background: #4e4d4d;
