@import "./css/_reset.scss";

body {
  background-color: slategrey;
}

.container {
  margin: 0 auto;
  margin-top: calculator-rem(56);
}

.calculator {
  width: 390px;
  height: 844px;
  background-color: $black;
  border-radius: 40px;
  box-sizing: border-box;

  &__display-time {
    width: 375px;
    height: 44px;
    margin-top: 15px;

    background-color: $black;
    color: $white;
    border: 0;
    border: none;
    border-radius: 30px;
  }

  &__display {
    width: 100%;
  }

  &__display-input {
    background-color: transparent;
    outline: transparent;
    font-size: calculator-rem(48);
    border: 0;
    color: $white;

    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
  }

  &__display-result {
    color: $light-grey;
    font-size: calculator-rem(48);

    margin-top: 41px;
    //margin-left: 334px;
  }

  &__image {
    margin-top: 20px;
  }

  &__line {
    width: 352px;
    height: 1px;
    background-color: $background;
    margin-top: 20px;
    margin-left: 19px;
    margin-right: 19px;
  }

  &__buttons {
    &--button {
      width: 73px;
      height: 75px;
      background-color: $grey;
      border-radius: 9px;
      border: 0;
      color: $white;
      font-size: calculator-rem(36);
      margin-top: 25px;

      &:hover {
        background-color: lighten($grey, 30%);
      }
    }
    &--button-background-red {
      background-color: $red;

      &:hover {
        background-color: lighten($red, 10%);
      }
    }

    &--button-color-green {
      color: $green;
    }

    &--button-color-grey {
      color: $grey;
    }

    &--button-color-background-green {
      background-color: $green;
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px 0 19px;
  }

  &__line-footer {
    width: 135px;
    height: 5px;
    margin: 20px 120px 8px 120px;
    background-color: $white;
    border-radius: 5px;
  }
}
